In [1]:
# Necessary imports
import pandas as pd
import numpy as np
import math

In [2]:
# Load data from excel file
stock_transfers_aggregated = pd.read_excel('../data/stock_transfers_aggregated.xlsx')
sales_aggregated = pd.read_excel('../data/sales_aggregated.xlsx')

In [3]:
# Replace whitespace of column titles with underscores
stock_transfers_aggregated.columns = [title.replace(' ', '_') for title in stock_transfers_aggregated.columns]
sales_aggregated.columns = [title.replace(' ', '_') for title in sales_aggregated.columns]

In [4]:
stock_transfers_aggregated

     Simulation_Round  Simulation_Step Storage_Location  Quantity
0                   4               20              02N     14086
1                   4               20              02S     10000
2                   4               20              02W     16342
3                   4               19              02S      9260
4                   4               18              02N     16089
..                ...              ...              ...       ...
191                 1                8              02S      5000
192                 1                8              02W      5000
193                 1                5              02N      2500
194                 1                5              02S      2500
195                 1                5              02W      2500

[196 rows x 4 columns]

In [5]:
sales_aggregated

    Material_Description Material_Number  Quantity       Cost  Net_Value
0        500g Nut Muesli          CC-F01    179816  161834.40  929827.70
1  500g Blueberry Muesli          CC-F02    233000  286590.00  968148.96
2     500g Raisin Muesli          CC-F04    158083  124885.57  768773.76
3         1kg Nut Muesli          CC-F11    171283  277478.46  816037.41
4   1kg Blueberry Muesli          CC-F12    184644  419141.88  985521.49
5  1kg Strawberry Muesli          CC-F13    155000  353400.00  821105.60

In [6]:
# Calculate margin/pc of each product
sales_aggregated = sales_aggregated.assign(Margin=lambda x: (x.Net_Value - x.Cost) / x.Quantity)

In [7]:
# Calculate average margin of all products
margin_sum = 0

for index, row in sales_aggregated.iterrows():
    margin_sum += row.Margin
    
average_margin = round(margin_sum / sales_aggregated.shape[0], 2)

In [8]:
average_margin

3.42

In [9]:
# Shipping cost per shipping == 1 000€
# Calculate the shipping quantity to cover the costs of shipping
coverage_quantity = int(math.ceil(1000 / average_margin))

In [10]:
coverage_quantity

293

In [11]:
# Check which stock transfers lost us money
non_coverage_transfers = stock_transfers_aggregated[stock_transfers_aggregated.Quantity <= coverage_quantity].sort_values(by='Quantity')
non_coverage_transfers

     Simulation_Round  Simulation_Step Storage_Location  Quantity
102                 3                4              02N         1

In [12]:
# Check a buffer of coverage + three times the coverage
non_buffer_transfers = stock_transfers_aggregated[stock_transfers_aggregated.Quantity <= (coverage_quantity * 4)].sort_values(by='Quantity')
non_buffer_transfers

     Simulation_Round  Simulation_Step Storage_Location  Quantity
102                 3                4              02N         1
61                  3               18              02S       308
54                  3               20              02N       447
55                  3               20              02S       447
56                  3               20              02W       448
180                 1               17              02S       567
130                 2               15              02S       614
170                 2                1              02N       666
129                 2               15              02N       768
14                  4               15              02W       797
12                  4               15              02N       798
118                 2               19              02S       942
22                  4               11              02S       995
23                  4               11              02W       995
27                  4                9              02N       996
67                  3               16              02S      1061

In [56]:
groupby = stock_transfers_aggregated
groupby['Round_Step'] = groupby['Simulation_Round'].astype(str) + groupby['Simulation_Step'].astype(str)
groupby = groupby.drop(columns=['Simulation_Round', 'Simulation_Step'])
groupby = groupby.groupby(['Round_Step', 'Storage_Location']).sum()

In [57]:
groupby

                             Quantity
Round_Step Storage_Location
111        02N                   4750
           02S                   5000
           02W                   5250
114        02N                  17750
           02S                  20000
...                               ...
48         02S                   4728
           02W                   5235
49         02N                    996
           02S                   5754
           02W                   3527

[196 rows x 1 columns]

In [58]:
groupby_location = groupby.groupby(['Round_Step']).count()
groupby_location['Round_Step'] == ''

            Quantity
Round_Step
111                3
114                3
116                3
117                1
118                3
...              ...
45                 3
46                 3
47                 3
48                 3
49                 3

[69 rows x 1 columns]

In [40]:
groupby_test = groupby_test.groupby(['Round_Step']).count()
groupby_test

            Quantity
Round_Step
111                3
114                3
116                3
117                1
118                3
...              ...
45                 3
46                 3
47                 3
48                 3
49                 3

[69 rows x 1 columns]

In [82]:
for index, row in group_by_round_and_step.iterrows():
    print(row)

Quantity    2500
Name: (1, 5, 02N), dtype: int64
Quantity    2500
Name: (1, 5, 02S), dtype: int64
Quantity    2500
Name: (1, 5, 02W), dtype: int64
Quantity    5000
Name: (1, 8, 02N), dtype: int64
Quantity    5000
Name: (1, 8, 02S), dtype: int64
Quantity    5000
Name: (1, 8, 02W), dtype: int64
Quantity    4750
Name: (1, 11, 02N), dtype: int64
Quantity    5000
Name: (1, 11, 02S), dtype: int64
Quantity    5250
Name: (1, 11, 02W), dtype: int64
Quantity    17750
Name: (1, 14, 02N), dtype: int64
Quantity    20000
Name: (1, 14, 02S), dtype: int64
Quantity    14750
Name: (1, 14, 02W), dtype: int64
Quantity    22237
Name: (1, 16, 02N), dtype: int64
Quantity    27360
Name: (1, 16, 02S), dtype: int64
Quantity    19295
Name: (1, 16, 02W), dtype: int64
Quantity    567
Name: (1, 17, 02S), dtype: int64
Quantity    13065
Name: (1, 18, 02N), dtype: int64
Quantity    31816
Name: (1, 18, 02S), dtype: int64
Quantity    23416
Name: (1, 18, 02W), dtype: int64
Quantity    3760
Name: (1, 19, 02W), dtype: int64
Quantity    25904
Name: (1, 20, 02N), dtype: int64
Quantity    20856
Name: (1, 20, 02S), dtype: int64
Quantity    16091
Name: (1, 20, 02W), dtype: int64
Quantity    666
Name: (2, 1, 02N), dtype: int64
Quantity    1667
Name: (2, 1, 02S), dtype: int64
Quantity    10790
Name: (2, 1, 02W), dtype: int64
Quantity    16102
Name: (2, 2, 02N), dtype: int64
Quantity    11520
Name: (2, 2, 02S), dtype: int64
Quantity    9537
Name: (2, 2, 02W), dtype: int64
Quantity    4222
Name: (2, 3, 02N), dtype: int64
Quantity    9591
Name: (2, 3, 02S), dtype: int64
Quantity    8502
Name: (2, 3, 02W), dtype: int64
Quantity    17112
Name: (2, 4, 02N), dtype: int64
Quantity    11661
Name: (2, 4, 02S), dtype: int64
Quantity    13438
Name: (2, 4, 02W), dtype: int64
Quantity    4906
Name: (2, 5, 02N), dtype: int64
Quantity    3944
Name: (2, 5, 02S), dtype: int64
Quantity    8401
Name: (2, 5, 02W), dtype: int64
Quantity    2575
Name: (2, 6, 02N), dtype: int64
Quantity    9465
Name: (2, 6, 02S), dtype: int64
Quantity    6549
Name: (2, 6, 02W), dtype: int64
Quantity    13097
Name: (2, 7, 02N), dtype: int64
Quantity    3333
Name: (2, 7, 02S), dtype: int64
Quantity    3333
Name: (2, 7, 02W), dtype: int64
Quantity    4392
Name: (2, 8, 02N), dtype: int64
Quantity    8270
Name: (2, 8, 02S), dtype: int64
Quantity    5797
Name: (2, 8, 02W), dtype: int64
Quantity    10785
Name: (2, 9, 02N), dtype: int64
Quantity    8905
Name: (2, 9, 02S), dtype: int64
Quantity    8097
Name: (2, 9, 02W), dtype: int64
Quantity    2330
Name: (2, 10, 02N), dtype: int64
Quantity    4097
Name: (2, 10, 02S), dtype: int64
Quantity    5555
Name: (2, 10, 02W), dtype: int64
Quantity    13564
Name: (2, 11, 02N), dtype: int64
Quantity    13904
Name: (2, 11, 02S), dtype: int64
Quantity    12057
Name: (2, 11, 02W), dtype: int64
Quantity    3693
Name: (2, 12, 02N), dtype: int64
Quantity    3624
Name: (2, 12, 02S), dtype: int64
Quantity    3617
Name: (2, 12, 02W), dtype: int64
Quantity    8816
Name: (2, 13, 02N), dtype: int64
Quantity    5303
Name: (2, 13, 02S), dtype: int64
Quantity    5839
Name: (2, 13, 02W), dtype: int64
Quantity    3275
Name: (2, 14, 02N), dtype: int64
Quantity    6771
Name: (2, 14, 02S), dtype: int64
Quantity    3188
Name: (2, 14, 02W), dtype: int64
Quantity    768
Name: (2, 15, 02N), dtype: int64
Quantity    614
Name: (2, 15, 02S), dtype: int64
Quantity    8103
Name: (2, 16, 02N), dtype: int64
Quantity    8910
Name: (2, 16, 02S), dtype: int64
Quantity    9795
Name: (2, 16, 02W), dtype: int64
Quantity    5000
Name: (2, 17, 02N), dtype: int64
Quantity    5000
Name: (2, 17, 02S), dtype: int64
Quantity    5000
Name: (2, 17, 02W), dtype: int64
Quantity    7032
Name: (2, 18, 02N), dtype: int64
Quantity    8355
Name: (2, 18, 02S), dtype: int64
Quantity    9057
Name: (2, 18, 02W), dtype: int64
Quantity    5099
Name: (2, 19, 02N), dtype: int64
Quantity    942
Name: (2, 19, 02S), dtype: int64
Quantity    6076
Name: (2, 19, 02W), dtype: int64
Quantity    5674
Name: (2, 20, 02N), dtype: int64
Quantity    10973
Name: (2, 20, 02S), dtype: int64
Quantity    10694
Name: (2, 20, 02W), dtype: int64
Quantity    15296
Name: (3, 1, 02N), dtype: int64
Quantity    5315
Name: (3, 1, 02S), dtype: int64
Quantity    4129
Name: (3, 1, 02W), dtype: int64
Quantity    4266
Name: (3, 2, 02N), dtype: int64
Quantity    10084
Name: (3, 2, 02S), dtype: int64
Quantity    10904
Name: (3, 2, 02W), dtype: int64
Quantity    11956
Name: (3, 3, 02N), dtype: int64
Quantity    5737
Name: (3, 3, 02S), dtype: int64
Quantity    3070
Name: (3, 3, 02W), dtype: int64
Quantity    1
Name: (3, 4, 02N), dtype: int64
Quantity    6638
Name: (3, 4, 02S), dtype: int64
Quantity    8124
Name: (3, 4, 02W), dtype: int64
Quantity    6709
Name: (3, 5, 02N), dtype: int64
Quantity    4514
Name: (3, 5, 02S), dtype: int64
Quantity    3070
Name: (3, 5, 02W), dtype: int64
Quantity    3687
Name: (3, 6, 02N), dtype: int64
Quantity    5000
Name: (3, 6, 02S), dtype: int64
Quantity    2149
Name: (3, 6, 02W), dtype: int64
Quantity    9343
Name: (3, 7, 02N), dtype: int64
Quantity    9378
Name: (3, 7, 02S), dtype: int64
Quantity    12038
Name: (3, 7, 02W), dtype: int64
Quantity    8301
Name: (3, 8, 02N), dtype: int64
Quantity    7225
Name: (3, 8, 02S), dtype: int64
Quantity    5731
Name: (3, 8, 02W), dtype: int64
Quantity    11439
Name: (3, 9, 02N), dtype: int64
Quantity    11284
Name: (3, 9, 02S), dtype: int64
Quantity    8443
Name: (3, 9, 02W), dtype: int64
Quantity    5102
Name: (3, 10, 02N), dtype: int64
Quantity    8928
Name: (3, 10, 02S), dtype: int64
Quantity    8532
Name: (3, 10, 02W), dtype: int64
Quantity    10009
Name: (3, 11, 02N), dtype: int64
Quantity    8086
Name: (3, 11, 02S), dtype: int64
Quantity    5696
Name: (3, 11, 02W), dtype: int64
Quantity    3958
Name: (3, 12, 02N), dtype: int64
Quantity    7418
Name: (3, 12, 02S), dtype: int64
Quantity    3960
Name: (3, 12, 02W), dtype: int64
Quantity    8457
Name: (3, 13, 02N), dtype: int64
Quantity    7506
Name: (3, 13, 02S), dtype: int64
Quantity    6844
Name: (3, 13, 02W), dtype: int64
Quantity    3422
Name: (3, 14, 02N), dtype: int64
Quantity    3966
Name: (3, 14, 02S), dtype: int64
Quantity    3994
Name: (3, 14, 02W), dtype: int64
Quantity    5986
Name: (3, 15, 02N), dtype: int64
Quantity    12915
Name: (3, 15, 02S), dtype: int64
Quantity    15201
Name: (3, 15, 02W), dtype: int64
Quantity    14999
Name: (3, 16, 02N), dtype: int64
Quantity    1061
Name: (3, 16, 02S), dtype: int64
Quantity    3083
Name: (3, 16, 02W), dtype: int64
Quantity    4694
Name: (3, 17, 02N), dtype: int64
Quantity    8126
Name: (3, 17, 02S), dtype: int64
Quantity    9605
Name: (3, 17, 02W), dtype: int64
Quantity    7878
Name: (3, 18, 02N), dtype: int64
Quantity    308
Name: (3, 18, 02S), dtype: int64
Quantity    3344
Name: (3, 18, 02W), dtype: int64
Quantity    6053
Name: (3, 19, 02N), dtype: int64
Quantity    11560
Name: (3, 19, 02S), dtype: int64
Quantity    7924
Name: (3, 19, 02W), dtype: int64
Quantity    447
Name: (3, 20, 02N), dtype: int64
Quantity    447
Name: (3, 20, 02S), dtype: int64
Quantity    448
Name: (3, 20, 02W), dtype: int64
Quantity    8938
Name: (4, 1, 02N), dtype: int64
Quantity    9553
Name: (4, 1, 02S), dtype: int64
Quantity    9160
Name: (4, 1, 02W), dtype: int64
Quantity    5873
Name: (4, 2, 02N), dtype: int64
Quantity    7814
Name: (4, 2, 02S), dtype: int64
Quantity    1592
Name: (4, 2, 02W), dtype: int64
Quantity    10493
Name: (4, 3, 02N), dtype: int64
Quantity    15264
Name: (4, 3, 02S), dtype: int64
Quantity    14348
Name: (4, 3, 02W), dtype: int64
Quantity    6675
Name: (4, 4, 02N), dtype: int64
Quantity    4451
Name: (4, 4, 02S), dtype: int64
Quantity    4452
Name: (4, 4, 02W), dtype: int64
Quantity    8455
Name: (4, 5, 02N), dtype: int64
Quantity    7935
Name: (4, 5, 02S), dtype: int64
Quantity    11204
Name: (4, 5, 02W), dtype: int64
Quantity    9292
Name: (4, 6, 02N), dtype: int64
Quantity    6202
Name: (4, 6, 02S), dtype: int64
Quantity    10772
Name: (4, 6, 02W), dtype: int64
Quantity    6110
Name: (4, 7, 02N), dtype: int64
Quantity    6348
Name: (4, 7, 02S), dtype: int64
Quantity    2532
Name: (4, 7, 02W), dtype: int64
Quantity    3073
Name: (4, 8, 02N), dtype: int64
Quantity    4728
Name: (4, 8, 02S), dtype: int64
Quantity    5235
Name: (4, 8, 02W), dtype: int64
Quantity    996
Name: (4, 9, 02N), dtype: int64
Quantity    5754
Name: (4, 9, 02S), dtype: int64
Quantity    3527
Name: (4, 9, 02W), dtype: int64
Quantity    7209
Name: (4, 10, 02N), dtype: int64
Quantity    4005
Name: (4, 10, 02S), dtype: int64
Quantity    4005
Name: (4, 10, 02W), dtype: int64
Quantity    995
Name: (4, 11, 02S), dtype: int64
Quantity    995
Name: (4, 11, 02W), dtype: int64
Quantity    9041
Name: (4, 12, 02N), dtype: int64
Quantity    15645
Name: (4, 12, 02S), dtype: int64
Quantity    13934
Name: (4, 12, 02W), dtype: int64
Quantity    4345
Name: (4, 13, 02N), dtype: int64
Quantity    13018
Name: (4, 14, 02N), dtype: int64
Quantity    8825
Name: (4, 14, 02S), dtype: int64
Quantity    12689
Name: (4, 14, 02W), dtype: int64
Quantity    798
Name: (4, 15, 02N), dtype: int64
Quantity    6292
Name: (4, 15, 02S), dtype: int64
Quantity    797
Name: (4, 15, 02W), dtype: int64
Quantity    12500
Name: (4, 16, 02N), dtype: int64
Quantity    4034
Name: (4, 16, 02S), dtype: int64
Quantity    11799
Name: (4, 16, 02W), dtype: int64
Quantity    3156
Name: (4, 17, 02N), dtype: int64
Quantity    4835
Name: (4, 17, 02S), dtype: int64
Quantity    16089
Name: (4, 18, 02N), dtype: int64
Quantity    5000
Name: (4, 18, 02S), dtype: int64
Quantity    14655
Name: (4, 18, 02W), dtype: int64
Quantity    9260
Name: (4, 19, 02S), dtype: int64
Quantity    14086
Name: (4, 20, 02N), dtype: int64
Quantity    10000
Name: (4, 20, 02S), dtype: int64
Quantity    16342
Name: (4, 20, 02W), dtype: int64